table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    background-color: #f7dc6f;
}
img {
    max-width: 100%;
}
.button_next {
    width: 30em;
    height: 5em;
    background-color: lightgreen;
}
input[type=submit] {
    height: 5em;
    width: 15em;
}
.hidden {
    display: none;
}
.error {
    background-color: red;
}
.toggle {
    background-color: lightslategray;
}
.small_gallery_image {
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
    padding: 2%;
}