{% extends 'base.html' %}

{% block body %}
<div id="container">
    <div id="loading">Loading</div>
</div>
{% endblock %}



{% block header_append %}
<script>
    const seen_posts = []
    let updating = false
    let bouncing = false

    async function load_posts(count = 20) {
        if (updating) {
            console.log("Debounced")
            bouncing = true
            return
        }
        updating = true
        console.log(`Requesting ${count} more posts`)
        const resp = await fetch(`/list_next.json?count=${count}`)
        const data = await resp.json()
        for (let result of data["data"]["results"]) {
            add_post(result["post_status"], result["new_sources"])
        }
        console.log(`Added ${count} posts`)
        updating = false
        if (bouncing) {
            console.log("Rechecking due to bounce")
            check_and_add_more_posts()
        }
    }

    function add_post(post_status, new_sources) {
        const post_id = post_status["post_id"]
        if (seen_posts.includes(post_id)) {
            return
        }
        seen_posts.push(post_id)
        render_post(post_status, new_sources)
    }

    function render_post(post_status, new_sources) {
        const new_post_div = document.createElement("div")
        new_post_div.setAttribute("class", "post_container")
        new_post_div.setAttribute("id", `post_id_${post_status["post_id"]}`)
        const post_id = post_status["post_id"]
        const source_ids_str = new_sources.map((source) => source["source_id"]).join(",")
        new_post_div.innerHTML = `Post: <a href="${post_status["post_link"]}">${post_status["post_id"]}</a><br />
Last checked: ${post_status["last_checked"]}<br />
Skipped: ${post_status["skip_date"]}<br />
<br />
<form>
<input type="submit" onclick="submitAction(${post_id}, ${source_ids_str}, 'match_all'); return false" value="match_all" />
<input type="submit" onclick="submitAction(${post_id}, ${source_ids_str}, 'skip'); return false" value="skip" />
<input type="submit" onclick="submitAction(${post_id}, ${source_ids_str}, 'no_match'); return false" value="no_match" />
</form>
<table>
<tr>
<th>Original</th>
${new_sources.map(() => "<th>New Source</th>").join("")}
</tr>
<tr>
<td><a href="${post_status["post_link"]}">Post link</a></td>
${new_sources.map((source) => {
    if (!source["submission_link"]) {
        return "<td>None</td>"
    } else {
        return "<td><a href='" + source["submission_link"] + "'>Link</a></td>"
    }
}).join("")}
</tr>
<tr>
<td><img src="${post_status["direct_link"]}" /></td>
${new_sources.map((source) => {
    if(!source["direct_link"]) {
        return "<td>No direct link</td>"
    } else {
        return "<td><img src='" + source["direct_link"] + "' onError=\"this.onError=null;this.src='" + source["direct_link_fallback"] + "'\" /></td>"
    }
}).join("")}
</tr>
</table>
<hr />
`
        document.querySelector("#container").append(new_post_div)
    }

    async function submitAction(post_id, source_ids, action) {
        const post_elem = document.getElementById(`post_id_${post_id}`)
        fetch("/check", {
                body: `post_id=${post_id}&source_ids=${source_ids}&action=${action}`,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                method: "post",
            }
        ).then((resp) => {
                console.log(resp);
                post_elem.remove()
            }
        ).catch(() => {
            post_elem.querySelectorAll("input[type=submit]").forEach((elem) => elem.disabled = true)
            post_elem.classList.remove("hidden")
            post_elem.classList.add("error")
        })
        console.log(action)
        post_elem.classList.add("hidden")
        check_and_add_more_posts()
    }

    function check_and_add_more_posts() {
        if (document.querySelectorAll(".post_container :not(.hidden)").length <= 5) {
            load_posts()
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        load_posts(7).then(() => document.getElementById("loading").remove())
    })
</script>
{% endblock %}
